<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="background-color: black">
    <nav class="navbar" style="background-color:#00a65a">
        <a class="navbar-brand" href="#">My book recommender</a>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Recommend</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="color: white;font-size: 50px">Top 50 Books</h1>
            </div>
            <div class="col-3">
                <div
            </div>
        </div>
    </div>
</body>
</html>